* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header-left h1 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 5px;
  margin-left: 30px;
  color: #e0e0e0;
  transition: color 0.3s ease;
}

.header-left h1:hover {
  color: #e0e0e0;
}

.header-right ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 100px;
  padding: 0;
}

.header-right ul li {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  border-radius: 5px;
  color: #fff;
}

.header-right ul li:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transform: scaleX(1.3);
}

.header-right ul li:active {
  transform: scale(1);
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.hamburger .line {
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    margin-right: 30px;
  }

  .header-right {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 600px);
    background-color: rgba(0, 0, 0, 0.95);
    overflow-y: auto;
    z-index: 999;
  }

  .header-right.open {
    display: flex;
  }

  .header-right ul {
    flex-direction: column;
    gap: 15px;
    margin: 0;
    width: 100%;
  }

  .header-right ul li {
    font-size: 1.2rem;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    color: #38b2ac;
    text-transform: uppercase;
 
   
  }

  .header-right ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  body {
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  .header-left h1 {
    font-size: 1.2rem;
    margin-left: 10px;
  }

  .header-right ul li {
    font-size: 1rem;
    padding: 10px 0;
  }

  .hamburger {
    width: 20px;
    height: 15px;
  }

  .hamburger .line {
    height: 2px;
  }
}
